

    <div class="container">
       <div class="col-12 col-md-9">
      <div class="jumbotron">
        <h1>Angular-Serverless</h1>
        <p class="lead">This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will remain fixed to the top of your browser's viewport.</p>
        <a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">View navbar docs &raquo;</a>
      </div>

<h1 class="page-header">Features:</h1>
<div class="row" >
            <div class="col-6 col-lg-4" *ngFor="let thing  of (awesomeThings | async)">
              <h2>{{thing.name}}</h2>
              <p>{{thing.info}}</p>
            </div><!--/span-->
 </div>
</div>

</div>