    <div class="pos-f-t container">
      <div id="collapseExample" [ngbCollapse]="isCollapsed">
        <div class="container-fluid bg-inverse p-1">
          <h3>Collapsed content</h3>
          <p>Toggleable via the navbar brand.</p>
        </div>
      </div>
      <div class="navbar navbar-light bg-faded navbar-static-top">
        <button class="navbar-toggler hidden-md-up" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbar-header"></button>
          <a class="navbar-brand" routerLink="">
				    <img src="/assets/flash.svg" width="30" height="30" class="d-inline-block align-top" alt="">
				    Angular-Serverless
				  </a>
				  <ul class="nav navbar-nav float-xs-left">
				    <li class="nav-item active">
				      <a class="nav-link" routerLink="home" RouterLinkActive="active">Home <span class="sr-only">(current)</span></a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" routerLink="signin" RouterLinkActive="active">Login</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" routerLink="signup" RouterLinkActive="active">Sign Up</a>
				    </li>
				  </ul>
				  <ul class="nav navbar-nav float-xs-right">
				    <li class="nav-item">
				      <profile class="nav-link" [profile]="currentUser | async"></profile>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" routerLink="signup" RouterLinkActive="active">Sign Up</a>
				    </li>
				  </ul>
      </div>
    </div>