<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Login</h1>
      <p>Accounts are reset on server restart from <code>server/config/seed.js</code>. Default account is <code>test@example.com</code> / <code>test</code></p>
      <p>Admin account is <code>admin@example.com</code> / <code>admin</code></p>
    </div>
    <div class="col-sm-12">
      <form class="form"  (submit)="onSubmit(email, password)" novalidate>

        <div class="form-group">
          <label for="email">Email</label>

          <input type="email" id="email" name="email" class="form-control" [(ngModel)]="user.email" #email="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
          <p class="form-control-feedback" [hidden]="email.valid || email.pristine" class="alert alert-danger">
             Please enter your email.
          </p>
        </div>

        <div class="form-group">
          <label for="password">Password</label>

          <input type="password" id="password" name="password" class="form-control" [(ngModel)]="user.password" #password="ngModel" required>
          <p class="form-control-feedback" [hidden]="password.valid || password.pristine" class="alert alert-danger">
             Please enter your password.
          </p>
        </div>

        <!-- <div class="form-group has-danger">
          <p class="form-control-feedback" [hidden]="!email.$error.required && password.$error.required && submitted">
             Please enter your email and password.
          </p>
          <p class="form-control-feedback" ng-show="email.$error.email && submitted">
             Please enter a valid email.
          </p>

          <p class="form-control-feedback">{{ errors.login }}</p>
        </div> -->

        <div>
          <button class="btn btn-inverse btn-lg btn-login" type="submit">
            Login
          </button>
          <a class="btn btn-default btn-lg btn-register" routerLink="signup">
            Register
          </a>
        </div>

      </form>
    </div>
  </div>
  <hr>
</div>